/* A simple stylesheet  */


/*  beautiful pink ffe9e9 
    more salmony pink FFA3A3
    reddish color #c32b3a

*/

html,
body {
    height: 100%;
    margin-top: -15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
   /* width: 100%;
    margin: 0px;
    padding: 0px;*/
    /*overflow-x: hidden; */
}

#preloader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    z-index: 999;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

body.loaded #preloader {
    opacity: 0;
    visibility: hidden;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c32b3a;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c32b3a;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c32b3a;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.biopic {
    /*opacity: 0;
    visibility: visible;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);*/
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
    
  /*-moz-transition: all 10ms ease-out;
  -webkit-transition: all 100ms ease-out;
  -o-transition: all 10ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 1000px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 900px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;*/
}

.biopic.in-view {
    /*visibility: visible;
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
    opacity: 1;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;*/
      opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

font-awesome.min.css:4
.
}

section {
    padding: 60px 0; 
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 1.1s infinite;
  color: #fff;
}


header .img-src{
    /*background-attachment: scroll;*/ 
}

header .header-content-inner {
    width: 100%;
}


header .img-src {
    background-image: url("../images/background1.jpg");
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: fixed;
    min-width: 100%;
    min-height: 650px;
}

/*header > .img-src {
    position: fixed;
    width: 100%;
    height: 107%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}*/

/* ---- particles.js container ---- */

#particles-js {
  top: 872px; /* matches header height */
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;

}
#particles-js canvas {
    height: 1237px!important;
}

#biopic{ 
z-index: 100; 
}

.aboutUs-btm:after{
    content: "";
    display: inline-block;
    border-top-style: solid;
    border-color: inherit;
    width: 6rem;
    border-top-width: 2px;
    margin-bottom: 35px;
    margin-top: 30px;
    color: #c32b3a;
    z-index: 100;
}

.myPortfolio{
    margin-bottom: 0px;
    font-size: 50px;
    text-align: left;
}

.myPortfolio-btm:after{
    content: "";
    text-align: left;
    display: inline-block;
    border-top-style: solid;
    border-color: inherit;
    width: 6rem;
    border-top-width: 2px;
    margin-bottom: 35px;
    margin-top: 30px;
    color: #333;
}

.bio-text{
    font-weight: 700;
    color: #333;
    padding-left: 20%;
    text-align: left;
}


.bio-text h2{
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

.bio-text p{
       font-size: 14px;
    
}

.bgimg-1{
    background-image: url("../images/background1.jpg");
    min-height: 100%;

}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.past-work{
    border-radius: 50px;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
    height: 195px;

}

header .header-content {
    position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  /*  margin-top: 0;
    margin-bottom: 0*/;
    font-size: 30px;
    text-shadow: 2px 2px 13px #000000;
}

.portfolio-li:before {
  -webkit-animation: underlined-un-expand .5s  normal ease forwards;
   -moz-animation: underlined-un-expand .5s  normal ease forwards;
   -ms-animation: underlined-un-expand .5s  normal ease forwards;
   -o-animation: underlined-un-expand .5s  normal ease forwards;
   animation: underlined-un-expand .5s  normal ease forwards;
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 0px;
    width: 0%;  
    border-bottom: 5px solid #c32b3a;
    
}

.portfolio-li.in-view:before{
   -webkit-animation: underlined-expand .5s  normal ease forwards;
   -moz-animation: underlined-expand .5s  normal ease forwards;
   -ms-animation: underlined-expand .5s  normal ease forwards;
   -o-animation: underlined-expand .5s  normal ease forwards;
   animation: underlined-expand .5s  normal ease forwards;
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width: 100%;  
    border-bottom: 5px solid #c32b3a;
}

.contactInfo-li:before {
  -webkit-animation: underlined-un-expand .5s  normal ease forwards;
   -moz-animation: underlined-un-expand .5s  normal ease forwards;
   -ms-animation: underlined-un-expand .5s  normal ease forwards;
   -o-animation: underlined-un-expand .5s  normal ease forwards;
   animation: underlined-un-expand .5s  normal ease forwards;
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 0px;
    width: 0%;  
    border-bottom: 5px solid #c32b3a;
    
}

.contactInfo-li.in-view:before{
   -webkit-animation: underlined-expand .5s  normal ease forwards;
   -moz-animation: underlined-expand .5s  normal ease forwards;
   -ms-animation: underlined-expand .5s  normal ease forwards;
   -o-animation: underlined-expand .5s  normal ease forwards;
   animation: underlined-expand .5s  normal ease forwards;
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width: 100%;  
    border-bottom: 5px solid #c32b3a;
}


.aboutMe-li:before {
  -webkit-animation: underlined-un-expand .5s  normal ease forwards;
   -moz-animation: underlined-un-expand .5s  normal ease forwards;
   -ms-animation: underlined-un-expand .5s  normal ease forwards;
   -o-animation: underlined-un-expand .5s  normal ease forwards;
   animation: underlined-un-expand .5s  normal ease forwards;
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 0px;
    width: 0%;  
    border-bottom: 5px solid #c32b3a;
    
}

.aboutMe-li.in-view:before{
   -webkit-animation: underlined-expand .5s  normal ease forwards;
   -moz-animation: underlined-expand .5s  normal ease forwards;
   -ms-animation: underlined-expand .5s  normal ease forwards;
   -o-animation: underlined-expand .5s  normal ease forwards;
   animation: underlined-expand .5s  normal ease forwards;
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width: 100%;  
    border-bottom: 5px solid #c32b3a;
}

@-webkit-keyframes underlined-expand {
    from {width: 0%;}
    to {width: 100%;}
}
@keyframes underlined-expand {
    from {width: 0%;}
    to {width: 100%;}
}

@-webkit-keyframes underlined-un-expand {
    from {width: 100%;}
    to {width: 0%;}
}
@keyframes underlined-un-expand {
    from {width: 100%;}
    to {width: 0%;}
}

.type-wrap{
    
    padding-bottom: 150px;
    padding-top: 200px;
    top: 50%;
    position: relative;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;

}


.bg-primary {
    background-color: #ffffff;
    position: relative;
    padding-top: 0px;
}

.bg-secondary {
    background-color: #fff;
}


.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.card {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(30,45,62,.09);
    transition: box-shadow .2s;
    height: 350px;
    padding: 0px;
    margin-right: 3%;
    margin-left: 3%;
    z-index: 100;
}

.card:hover {
    box-shadow: 0 10px 15px 0 rgba(30,45,62,.5), 
                0 0 50px 0 rgba(31,44,60,.5);
    
    transition: all .3s ease;
}

.card:hover .card-img{

opacity: .9;
}

.card-row{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.card-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 230px;
    transition: opacity .2s;
    opacity: .8;
    border-radius: 3px 3px 0 0;    
}


.card-content{
    padding: 20px;
    line-height: 34px;
    border-top: 1px solid rgba(51,51,51,.1);
    border-radius: 0 0 3px 3px;
}
.card-content>h4{
    color: #333;
    font-size: 22px;
}
.card-content>h4>.inner{
    font-size: 18px;
}

.tags{
    display: flex;
    text-decoration: none;
    margin-bottom: 5px;
}

.card-links:hover{
    text-decoration: none;
}

.tag {
    padding-right: 10px;
    /*color: #41D3BD;*/
    color: #c32b3a;
    font-size: 16px;
     
}

#portfolio-icon{
    position: relative;
    bottom: 50px;
    left: 38%;
    background-color: #333;
    color: #fff;
    border-color: #fff; 
}
#portfolio-icon:hover{
    color: #333;
    background-color: #fff;
    border-color: #333;
}

.section-heading {
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
    margin-top: -5px;
}


.img-container {
    position: relative;
    display: block;
    max-width: 650px;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 0;
    height: auto;
}

.navbar-default, a {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    z-index: 999;
}

.navbar-default {
    background-color: rgba(43, 41, 42, 0.75);
    /*border-color: rgba(34, 34, 34, .05);*/
    transition: all .35s;
    z-index: 999;
}
.btn-default, .portfolio-box .portfolio-box-caption {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
}
.navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, .7);
    font-weight: 700;
    text-transform: uppercase;
    z-index: 999;
}
.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
    color: #fff;
    z-index: 999;
}
.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    z-index: 999;
}


.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: rgba(255, 255, 255, .7);
    z-index: 999;
}
.navbar-default .nav>li>a:focus:hover, .navbar-default .nav>li>a:hover {
    color: #fff;
    z-index: 999;
}
.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
    color: #F8EFD5!important;
    background-color: transparent;
    z-index: 999;
}
.navbar-default .nav>li.active>a:focus:hover, .navbar-default .nav>li.active>a:hover {
    background-color: transparent;
    z-index: 999;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    color: #2B292A;
    background-color: #F8EFD5;
    border-color: #2B292A;
}



/* FOOTER */

.footer-wrapper{
    /*background-image: linear-gradient(-133deg,#99a3e8,#8fcae4);*/
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - 420px);
}

.footer-wrap{
    margin: 10px auto;
    padding-bottom: 400px;
    padding-top: 253px;
    top: 50%;
    position: relative;
    top: 42%;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;

}

.footer-content {
    padding-left: 20px;
    padding-right: 20px;
    color: #c32b3a;
    
}

.footer-content h1 {
    font-size: 50px;
}

.footer-wrapper p{
    color: hsla(0,0%,100%,.7);
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 20px;

}
    
.footer-bottom {
    background-color: #212020;
    text-align: center;
}
.footer-icons {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon{
    margin-right: 15px;
    margin-left: 15px;
    color: #333;
    transition: .3s ease;
    -webkit-transition: .35s;
    -moz-transition: .35s;
}

.fa.fa-facebook-square:focus,.fa.fa-facebook-square:hover{
    color: #3b5998;
}
.fa.fa-github-square:focus,.fa.fa-github-square:hover{
    color: #959da5;
}
.fa.fa-linkedin-square:focus,.fa.fa-linkedin-square:hover{
    color: #0077B5;
}
.fa.fa-instagram:focus,.fa.fa-instagram:hover{
    color: #c13584;
}
.fa.fa-envelope-square:focus,.fa.fa-envelope-square:hover{
    color: #c32b3a;
}

.clock-box{
    margin: 0px;
    padding-bottom: 25px;

}

#lil-clock-hours {
    color: #fff;
    margin: 0px;
    padding: 0px;
}
#lil-clock-min {
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.clock-smile{
    color: #fff;
    padding-left: 5px;
}

.blinking-cursor {
    color: #fff;
  -webkit-animation: 1.2s blink step-end infinite;
  -moz-animation: 1.2s blink step-end infinite;
  -ms-animation: 1.2s blink step-end infinite;
  -o-animation: 1.2s blink step-end infinite;
  animation: 1.2s blink step-end infinite;
}






/* When nav-bar gets condensed  */
@media (max-width: 767px) {

    #navbar-list{
        display: none;
    }

    .bgimg-1, .cool-image{
        min-width: 106%; 
        overflow-x: hidden;
        background-attachment: scroll;
    }
    .aboutUs-btm:after{
        margin-top: 5px;
        margin-bottom: 10px;
        color: #c32b3a;
        text-align: center;
    }

    .bio-text h2{
        margin-top: 20px;
        text-align: center;

    }
    .bio-text {
        padding-right: 10%;
        padding-left: 10%;
        text-align: center;
    }
    #biopic{
        min-width: 101.2%;
        height: 475px;
        background-attachment: scroll;
    }
    .bg-primary{
        padding-bottom: 20px;
    }
    footer{
        padding-top: 362px;
        width: 106%;
    }

}


/* When navbar expands */
@media (min-width:768px) {

#navbar-list-collapse{
    display: none;
}

/*html, body {
    height: 100%;
    margin-top: -15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding-bottom: 0px;
 
}*/

.bg-primary {
    background-color: #ffffff;
    position: relative;
    padding-top: 55px;
    padding-bottom: 55px;
}


.type-wrap{
    margin: 10px auto;
    padding-bottom: 500px;
    padding-top: 350px;
    top: 50%;
    position: relative;
    top: 42%;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;

}

.bio-text{
    font-weight: 700;
    color: black;
    padding-left: 20%;
    text-align: left;
}


.bio-text h2{
    font-size: 50px;
    margin-bottom: 0px;
}

.bio-text p{
       font-size: 25px;
    
}



.navbar-default {
    background-color: rgba(34, 34, 34, .50);
    border-color: rgba(255, 255, 255, .0);
    z-index: 999;
}
.navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, .7);
    
    position: absolute;
    z-index: 999;
}
.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
    color: #c32b3a;
    z-index: 999;
}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
    color: rgba(255, 255, 255, .7);
    z-index: 999;
}
.navbar-default .nav>li>a:focus:hover, .navbar-default .nav>li>a:hover {
    color: #c32b3a;
    z-index: 999;
}
.navbar-default.affix {
    background-color: #F8EFD5;
    border-color: rgba(34, 34, 34, .05);
    z-index: 999;
}
.navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
    z-index: 999;
}
.navbar-default.affix .navbar-header .navbar-brand:focus, .navbar-default.affix .navbar-header .navbar-brand:hover {
    color: #eb3812;
    z-index: 999;
}
.navbar-default.affix .nav>li>a, .navbar-default.affix .nav>li>a:focus {
    color: #222;
    z-index: 999;
}
.navbar-default.affix .nav>li>a:focus:hover, .navbar-default.affix .nav>li>a:hover {
    color: #F05F40;
    z-index: 999;
}


/*.page-scroll {
    transition: all .35s!important;
    -webkit-transition: all .35s!important;
    -moz-transition: all .35s!important;
}*/
a {
    transition: all .35s!important;
    color: #333;
}


}
}
/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .bg-secondary {
        background-attachment: scroll;
    }
}


.cool-image {
    background-color: #fff;
    /*background-image: url("../images/bike.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 430px;*/
}

.cool-image2{
    
    padding: 0px;
}

.bg-secondary2{
    padding: 0px;
    position: relative;
    background-color: #fff;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    z-index: 0;
    height: 195px;
}
.portfolio-box .portfolio-box-caption {
    color: #fff;
    opacity: 0;
    display: block;
    background: rgba(43, 41, 42, 0.85);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all .35s;
    border-radius: 50px;
    padding-top: 20px;
    font-size: 16px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: 'Quicksand', sans-serif;
    padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}
.portfolio-box:focus {
    outline: 0;
}

@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0.25; }
  100% { opacity:1; }
}

/*
header .header-content .header-content-inner hr {
    margin: 30px auto;
}
header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    margin-bottom: 50px;
}


@media (min-width:768px) {
header {
    min-height: 100%
}

header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    
    padding: 0 50px;
}
header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}
header .header-content .header-content-inner h1 {
    font-size: 50px;
    
}
header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}*/
} /*  End @media   
